




<body class="text-left">
    <main class="form-signin"> 
        <div class="center">
            <div class="container">
                <form class="row g-3">
                    <!--<small class="danger">{{errorMessage}}</small>-->

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <h1>Change Password</h1>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="uUserUname" class="form-label">Username</label>
                                <input type="text" class="form-control" height="20px" [(ngModel)] = "userToConnect.username" name="uUserUname" required>
                            </div><br/>
                        </div>
                        <br>
            
                        <div class="row">
                            <div class="col-md-4">
                                <label for="uUserPword" class="form-label">Old Password</label>
                                <input type="password" class="form-control" [(ngModel)] = "userToConnect.password" name="uUserPword" required>
                            </div><br/>
                        </div>
                        <br>
                        <br>

                        <div class="row row-md-4">
                            <div class="col-md-4">
                                <label for="uUserPword" class="form-label">New Password</label>
                                <input type="password" class="form-control" [(ngModel)] = "userToConnect.newpassword" name="uUserPword" required>
                            </div><br/>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="uUserPword" class="form-label">Confirm New Password</label>
                                <input type="password" class="form-control" name="uUserPword" required>
                            </div><br/>
                        </div>
                        <br>
                        <br>

                        <table class="table">
                            <tr>
                                <td>
                                    <div class="row row-md-2">
                                        <div class="row">
                                            <div class="col-md-2" >
                                                <button type="submit" class="btn btn-primary"  name="btSubmit" (click)= changePassword()>Submit </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="row row-md-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a routerLink = '/adminmenu' class="btn btn-secondary"><strong>Back to Admin Menu</strong></a>
                                            </div><br/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
